= {{ course_title }}
:navtitle: Home

== Introduction

Course Title: {{ course_title }}

Description:
Course description FIXME

Duration: FIXME hours

== Topics covered in this course

{% for c_d in desc_chapters %}
* {{ c_d }}
{% endfor %}


== Prerequisites

This course assumes that you have the following prior experience:

* Course or experience...
* Course or experience...
* Course or experience...

NOTE: **Use of Artificial Intelligence:**
This publication contains content or media that is generated or assisted by AI tools. All the Training deliverables have primarily human authorship, and all content was reviewed by a human domain expert.
